// $color-bg: #FFF;
// $color-foreground: #B5EF8A;
// $color-hover: #83C64F;
// $color-secondary: #2D2D2A;
// $color-accent: rgb(0, 119, 255);
// $hover-transparency: rgba(0,0,0,0.15)
$color-bg: rgb(255, 243, 217);
$color-bg-secondary: rgba(0,0,0,0.01);
$color-foreground: #084985;
$color-hover: #042C51;
$alt-text: #FFF;
$border-color: rgba(0,0,0,0.2);
$color-secondary: #2D2D2A;
$color-accent: #faee3e;
$hover-transparency: rgba(0,0,0,0.15);
