@import '_variables.scss';
body{
    overflow: overlay;
}
.client{
    font-family: 'Lato', sans-serif;
    width: 100%;
    position: absolute;
    height: 100vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    .menu-overlay{
        width: 100vw;
        height: 100vh;
        cursor: default;
        position: absolute;
        z-index: 999;
        transition-duration: 0.2s;
        transition: visibility 0s, opacity 0.1s;
    }
    .client-menu::-webkit-scrollbar{
    display: none;
    top: 0px;
    width: 8px;
    border-radius: 10px;
    background-color: transparent;
    }
    .client-menu::-webkit-scrollbar-thumb{
        width: 2px;
        border-radius: 5px;
        background-color: transparent;
        transition-duration: 2s;
    }
    .client-menu:hover::-webkit-scrollbar-thumb{
        width: 2px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        transition-duration: 2s;
    }
    .client-menu::-webkit-scrollbar-track{
        border-radius: 10px;
        width: 2px;
        background-color: transparent;
    }

    
    .client-menu{
        overflow-y: scroll;
        position: fixed;
        background-color: $color-bg;
        height: 80vh;
        width: 300px;
        margin-left: 5px;
        margin-top: 60px;
        z-index: 9999;
        border: 1px solid $border-color;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        .logout-button{
            background: none;
            border: none;
            cursor: pointer;
        }
        .profile-pic{

        }
        .user{
            margin-left: 20px;
            display: flex;
            flex-direction: row;
            margin: 20px 0 20px 20px;
            .profile-pic{
                font-size: 32px;
                margin-right: 10px;
            }
            .user-info{
                display: flex;
                flex-direction: column;
                .fullname{
                   font-weight: bold;
                }
                .username{
                    font-weight: lighter;
                    color: grey;
                }
            }
        }


        .menu-options{
            li{
                height: 40px;
                width: 100%;
                padding: 10px 0 10px 20px;
                box-sizing: border-box;


            }
            li:hover{
                cursor: pointer;
                background-color: $color-accent;
            }
            .divider{
                margin-top: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid $border-color
            }
            .text-bold{
                font-weight: bolder;
            }
        }
    }
}
.client-content{
    display: flex;
    flex-direction: row;
    // overflow: hidden;
    height: 100%;
}

.client-navbar{
    color: $alt-text;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    z-index: 5;
    .channel-section{
        user-select: none;
        width: 225px;
        box-sizing: border-box;
        background-color: $color-foreground;
        display: flex;

        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .first-row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            align-items: center;
            margin: 10px 10px 5px 10px;
            height: 60%;
            font-size: 22px;
            font-weight: bold;
            .client-notifications-btn{
                font-size: 20px;
                color: rgba(255, 255, 255, 0.8)
            }
            .client-notifications-btn:hover{
                color: rgba(255, 255, 255, 1)

            }
            .dropdown-btn{
                position: relative;
                bottom: 3px;
                margin-left: 4px;
                font-size: 12px;
            }
        }
        .second-row{
            display: flex;
            vertical-align: middle;
            margin: 0px 10px 10px 10px;
            height: 40%;
            font-size: 12px;
            justify-content: center;
            display: table-cell;
            
            .user-active{
                display: table-cell;
                line-height: 8px;
                font-size: 8px;
                vertical-align: middle;
                text-align: center;
                margin-right: 5px;
                color: limegreen;
            }
        }
    }
   
    .channel-section:hover{
        background-color: $color-hover;
        cursor: pointer;

    }
    .chat-section{
        box-sizing: border-box;

        flex-grow: 1;
        border-bottom: 1px solid $border-color;
        background-color: $color-bg;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-side{
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            .channel-name{
                width: 200px;
                color: black;
                font-weight: bolder;
                font-size: 20px;
                margin-bottom: 7px;
                overflow: auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .channel-info{
                display: inline-flex;
                align-items: center;
                user-select: none;
                overflow: hidden;
                height: 30px;
                max-width: 30vw;
                text-overflow: ellipsis;
                color: gray;
                font-size: 13px;
                .fa-thumbtack{
                    transform: rotate(-30deg);
                }
                .info-seperator{
                    position: relative;
                    top: 1px;
                    border-left: 1px solid gray;
                    font-size: 15px;
                    margin-right: 6px;
                }
                 .info-seperator.add-topic{
                     margin-right: 3px;
                    //  color: red;
                 }
                .fa{
                    margin-right: 7px;
                }
                .info-container{
                    margin-left: 1px;
                }
                .fa:hover, .info-container:hover{
                    cursor: pointer;
                    color: $color-secondary;
                }
                .info{
                    margin-right: 7px;
                }
                .topic-container{
                    flex: 1;
                    display: inline-flex;
                    // box-sizing: border-box;
                    padding: 3px;
                    margin-left: 1px;
                    // max-width: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                   
                }
                .edit-text{
                    display: none;
                }
                 .topic-text{
                        // flex: 1;
                        // width: 20px;
                        white-space: nowrap;
                        word-wrap: break-word;
                        // max-width: 20px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                .topic-container:hover{
                    overflow-wrap: break-word;
                        text-overflow: inherit;

                    cursor: default;
                    // position: relative;
                    color: gray;
                    padding: 3px;
                    border: 1px solid $border-color;
                    border-radius: 4px;
                    margin-left: 0px;
                 
                }
               
            }

        }
        .right-side{
            margin-right: 10px;
            .divider{
                border-right: 2px solid $border-color;
                font-size: 20px;
                margin-right: 10px;
                margin-left: 10px;
                padding-bottom: 4px;
                padding-top: 2px;
            }
            .fa{
                color: rgba(0, 0, 0, 0.7);
                font-size: 20px;
                padding: 8px;
            }
            .fa:hover{
                color: rgba(0, 0, 0, 0.9);
                cursor: pointer;
            }
        }
    }
}


 .channel-list-scrollable::-webkit-scrollbar{
        position: absolute;
        top: 0px;
        width: 8px;
        border-radius: 10px;
        background-color: transparent;
    }
    .channel-list-scrollable::-webkit-scrollbar-thumb{
        width: 2px;
        border-radius: 5px;
        background-color: transparent;
        transition-duration: 2s;
    }
    .channel-list-scrollable:hover::-webkit-scrollbar-thumb{
        width: 2px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        transition-duration: 2s;
    }
    .channel-list-scrollable::-webkit-scrollbar-track{
        border-radius: 10px;
        width: 2px;
        background-color: transparent;
    }

.channel-list{
    // justify-content: center;
    // position: absolute;
    z-index: 0;
    flex-basis: 225px;
    color: $alt-text;
    box-sizing: border-box;
    // overflow: overlay;
    .channel-list-scrollable{
        float: left;
        overflow: overlay;  
        position: relative;
        // width: 225px !important;
        color: rgba(255,255,255,0.8);

    }  
    .selected-channel:hover{
        .channel-list-item-button{

            background-color: $color-accent !important;
        }
    }
    .selected-channel{
        background-color: $color-accent;
        button{
            color: black !important;
        }
    }
    .channels-header:hover{
        cursor: pointer;
    }
    .channels-header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 5px;
        font-weight: bolder;
        margin-bottom: 5px;
        span{
            font-size: 16px;
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: rgba(255,255,255,0.8);



        }
        span:hover{
            color: rgba(255,255,255, 1)
        }
        .show-create-channel-button:focus{
            border: none;
            box-shadow: none;
            outline: none;
        }
        .show-create-channel-button{

            background: none;
            border: none;
            align-self: center;
            margin-right: 5px;
            margin-top: 7px;
            i{
                position: relative;
                bottom: 3px;
                font-size: 17px;
                color: rgba(255,255,255,0.6);
                
            }
            i:hover{
                cursor: pointer;
                color: rgba(255,255,255,0.9);
                
            }
        }
        
       
    }
        
    .channel-list-item{
        color: $alt-text;
        position: relative;
        height: 25px;
        width: 100%;
        box-sizing: border-box;
        .channel-list-item-button:focus{
            border: none;
            box-shadow: none;
            outline: none;
        }
        .channel-list-item-button{
            display: inline-block;
            color: rgba(255,255,255,0.8);
            background: none;
            border: none;
            text-align: left;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0 5px 0 5px;
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: nowrap;
            overflow-wrap: none;
            font-size: 15px;
        }
        .channel-list-item-button:hover{
            background-color: rgba(0, 0, 0, 0.1);
            cursor: pointer;
        }
    }
    display: flex;
    flex-direction: column;
    position: relative;
    // flex-grow: 1;
    height: 100%;
    width: 225px;
    background-color: $color-foreground;
}
.transparent-overlay{
    background-color: rgba(0,0,0,0.3) !important;
    .topic-form{
        padding: 15px;
        background-color: $color-bg;
        // height: 200px;
        
        max-height: 640px;
        width: 500px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow:auto; 
        .top-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .close-overlay-btn:hover{
                cursor: pointer;
                background-color: rgba(0,0,0,0.05);
            }
            .close-overlay-btn{
                background: none;
                border: none;
                height: 30px;
                width: 30px;
                border-radius: 4px;
            }
            
            .button-close:focus, .close-overlay-btn:focus{
                border: none;
                outline: none;
            }
            .button-close{
                position: relative;
                top: 2px;
                right: 0px;
                height: 15px;
                width: 15px;
                border: none;
                background-color: none;
            }
            h2{
                font-size: 22px;
                color: rgba(0,0,0,0.9);
                font-weight: bold;
                padding-bottom: 0px;
                margin-left: 10px;
            }
        }
        .topic-input{
            resize: none;
            height: 75px;
            font-size: 14px;
            align-self: center;
            padding: 10px;
            // max-height: 480px;
            width: 475px;
        }
        .buttons{
            display: flex;
            justify-content: flex-end;
            input[type="submit"], button{
                font-size: 14px;
                padding-left: 5px;
                padding-right: 5px;
                text-transform: none;
                box-sizing: border-box;
                font-weight: bold;
                margin: 5px;
                margin-left: 7px;
                margin-right: 7px;
                width: 80px;
                height: 35px !important;
            }
            .cancel-btn{
                color: rgba(0,0,0,0.9);
                background-color: transparent;
            }
            .cancel-btn:hover{
                color: $alt-text;
                background-color: $color-foreground;
            }
            .submit-btn{

            }
        }
    }
}
.client-overlay{
    // transition: display 10s linear;
    position: fixed;
    z-index: 700;
    width: 100vw;
    height: 100vh;
    background-color: $color-bg;
    transition-duration: 0.2s;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .show-channels-overlay-content{
        height: 100%;
        position: relative;
        width: 635px !important;
        .top-bar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 110px;
            h1{
                padding-bottom: 0px;
                margin-bottom: 0px;
            }
            .overlay-button{
                margin-left: 20px;
                box-sizing: border-box;
                background-color: $color-foreground;
                border: none;
                text-align: center;
                width: 120px;
                text-decoration: none;
                color: #FFF;
                margin-top: 5px;
                border-radius: 4px;
                padding: 12px;
                // height: 40px;
                font-size: 85%;
                font-weight: bolder;
                transition-duration: 0.2s;
            }
            .overlay-button:hover{ 
                background-color: $color-hover;
                transition-duration: 0.2s;
                cursor: pointer;
            }

        }
        .overlay-text-input{
            font-weight: normal;
        }
        .show-channels-list{
            // flex-direction: column;
            // align-items: flex-end;
            position: relative;
            top: 30px;
            flex: 1;
            width: 100%;
            overflow-y: overlay;
            overflow-x: hidden;
            
            margin-bottom: 30px;
            .browse-divider{
                display: flex;
                align-items: center;
                margin-top: 50px;
                height: 20px;
                width: 100%;
                margin-left: 0px;
                color: gray;
                font-weight: bold;
                padding: 5px 0px 5px 20px;
                font-size: 14px;
                // background-color: rgba(0, 0, 0, 0.05);
                border-bottom: 1px solid $border-color;
            }
            .first-divider{
                margin-top: 0px;

            }

            .browse-channel-item:hover{
                background-color: rgba(0, 0, 0, 0.05);
                cursor: pointer;
                .enter-icon{
                    opacity: 1;
                    
                }
            }
            .browse-channel-item{
                padding-left: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                // padding-right: 0px;
                justify-content: space-between;
                width: 100%;
                height: 60px;
                border-bottom: 1px solid $border-color;
                .channel-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .enter-icon{
                    opacity: 0;
                    font-size: 16px;
                    color: rgba(0,0,0,0.7);
                    transform: rotate(90deg);
                    margin-right: 60px;
                }
                .channel-title{
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.9);
                    padding-bottom: 5px;
                }
                .channel-date{
                    color: gray;
                    font-size: 14px;
                }
            }
        }
    }


    .users-search-field{
        position: relative;
    }
    .foundUsers-dropdown{
        padding: 15px 0 15px 0;
        width: 725px;
        position: absolute;
        top: 50px;
        left: -14px;
        float: center;
        align-self: center;
        background-color: $color-bg;
        border: 1px solid $border-color;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        button{
            .user-small{
                background-color: $color-bg;
                margin-right: 10px;
                border-radius: 3px;
                width: 15px;
                height: 15px;
            }
            .fa{
                font-size: 8px;
                width: 15px
            }
            .check-placeholder{
                padding-right: 15px;
                height: 1px;
            }
            font-size: 14px;
            font-weight: bold;
            border: none;
            background-color: transparent;
            height: 40px;
            text-align: left;
            padding-left: 15px;
        }
        button:hover{
            cursor: pointer;
            background-color: $color-foreground;
            color: $alt-text;
        }
    }
    .overlay-text-input{
        font-size: 18px;
        font-weight: lighter;
        margin: 20px 0 20px;
    }
    .overlay-text-input:focus{
        box-shadow: 0 0 0 1px #1264a3, 0 0 0 5px rgba(29,155,209,.3);
        border-color: transparent;
    }
    .close-overlay-button:focus{
        outline: 0;
    }
    .overlay-content, .show-channels-overlay-content{
        width: 700px;
        display: flex;
        flex-direction: column;
        h1{
            font-weight: bold;
            font-size: 28px;
            margin-bottom: 20px;
        }
        label{
            font-size: 15px;
        }
        p{
            margin-bottom: 20px;
        }
        .overlay-text-input{
            margin-top: 10px;
            margin-bottom: 7px;
        }




        #channel-members-container:focus-within{
            box-shadow: 0 0 0 1px #1264a3, 0 0 0 5px rgba(29,155,209,.3);
            border-color: transparent;
        }

        #channel-members-container{

        }
        #channel-members-container::-webkit-scrollbar{
        top: 0px;
        width: 8px;
        border-radius: 10px;
        background-color: transparent;
        }
        #channel-members-container::-webkit-scrollbar-thumb{
            width: 2px;
            border-radius: 5px;
            background-color: transparent;
            transition-duration: 2s;
        }
        #channel-members-container:hover::-webkit-scrollbar-thumb{
            width: 2px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.2);
            transition-duration: 2s;
        }
        #channel-members-container::-webkit-scrollbar-track{
            border-radius: 10px;
            width: 2px;
            background-color: transparent;
        }
         #channel-members-container:hover, .search-members-input:hover,.search-members-input{
            cursor: default;
         }
         #channel-members-container:focus, .search-members-input:focus{
            cursor: text;
         }
        #channel-members-container{
            display: flex;
            align-items: center;
            justify-content: stretch;
            padding-left: 5px;
            flex-flow: row wrap;
            overflow-y: scroll;

            .search-members-input{
                background-color: transparent;
                border: none;
                font-size: inherit;
                padding-left: 10px;
                flex-grow: 1;
                height: 100%;
                
            }
            .search-members-input:focus{
                outline: none;
            }
            .selected-user-span{
                margin-bottom: 10px;
                margin-top: 8px;
                margin-left: 10px;
                padding: 0px 0px 0px 0px;
                background-color: $color-secondary;
                border-radius: 4px;
                color: rgba(255,255,255,0.8);
                display: flex;
                font-weight: bold;
                justify-content: center;
                align-items: center;
                *:focus{
                    outline: none;
                }
                .user{
                    height: 32px;
                    width: 32px;
                    font-size: 32px;
                    // position: relative;
                    
                    bottom: 9px;
                    background-color: rgba(255, 255, 255, 0.671);
                    border: 1px solid rgba(0,0,0,0.3);
                    align-self: center;
                    margin-right: 10px;
                    border-radius: 4px 0px 0px 4px;
                }
                button{
                    background: transparent;
                    border: none;
                    width: 20px;
                    height: 20px;
                    padding: 0px;
                    margin-left: 5px;
                    margin-right: 5px;
                    position: relative;
                    top: 1px;

                    .button-close{
                        // display: none;
                        width: 12px;
                        height: 12px;
                        position: relative;
                        top: 1px;
                        right: 0px;
                        // fill: black;
                        // stroke: black;
                    }
                }
                button:hover{
                    cursor: pointer;
                    background-color: rgba(255,255,255, 0.1);
                    border-radius: 4px;
                }
            }
            .selected-user-span:hover{
                cursor: pointer;
            }
            // justify-content: flex-end;
        }
        .subtitle{
            color: grey;
            font-size: 13px;
            margin-bottom: 30px;
        }
        .overlay-form{
            display: flex;
            flex-direction: column;
            font-weight: bold;
            font-size: 18px;    
    
        }
        .overlay-optional{
            color: grey;
        }
        .overlay-buttons{
            display: inline;
        }
        .overlay-submit{ 
            margin-left: 20px;
            box-sizing: border-box;
            background-color: $color-foreground;
            border: none;
            width: 100px;
            text-decoration: none;
            color: #FFF;
            margin-top: 5px;
            border-radius: 4px;;
            height: 40px;
            font-size: 85%;
            font-weight: bolder;
            transition-duration: 0.2s;
        }
        .overlay-submit:hover{ 
            background-color: $color-hover;
            transition-duration: 0.2s;
            cursor: pointer;
        }
        .overlay-cancel{ 
            box-sizing: border-box;
            background-color: transparent;
            border: 1px solid grey;
            width: 100px;
            text-decoration: none;
            color: grey;
            margin-top: 5px;
            border-radius: 4px;;
            height: 40px;
            font-size: 85%;
            font-weight: bolder;
            transition-duration: 0.2s;
            display: inline;
        }
        .overlay-cancel:hover{ 
            background-color: $hover-transparency;
            transition-duration: 0.2s;
            cursor: pointer;
        }
    }
    .close-overlay-button{
        display: inline;
        position: absolute;
        z-index: 999;
        top: 0;
        right: 0;
        margin: 50px;
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        background-color: $color-bg;
        border: 0;
        user-select: none;
        .overlay-close-x{
            position: absolute;
            right: 20px;
            top: 16px;
            height: 20px;
            width: 20px;
            stroke: $border-color;
            fill: $border-color;
            color: $border-color;
            outline: none;
        }
        .overlay-close-esc{
            position: absolute;
            right: 20px;
            top: 40px;
            color: $border-color;
        }
    }
    .close-overlay-button:hover{
        background-color: $hover-transparency;
        cursor: pointer;
    }
}

.chat-window{
    position: relative;
    height: 100%;
    z-index: 10;
    overflow-y: hidden;
    box-sizing: border-box;
    // overflow-x: visible;
    flex: 1;
    padding-bottom: 0px;

    .window-message-list::-webkit-scrollbar{

        top: 0px;
        width: 8px;
        border-radius: 10px;
        background-color: transparent;
    }
    .window-message-list::-webkit-scrollbar-thumb{
        width: 2px;
        border-radius: 5px;
        background-color: transparent;
        transition-duration: 2s;
    }
    .window-message-list:hover::-webkit-scrollbar-thumb{
        width: 2px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
        transition-duration: 2s;
    }
    .window-message-list::-webkit-scrollbar-track{
        border-radius: 10px;
        width: 2px;
        background-color: transparent;
    }


    .window-message-list{
        overflow-y: scroll;
        box-sizing: border-box;
        height: 90%;
        // width: 100%;
        overflow-y: scroll !important;
        // scroll-behavior: smooth;
        justify-content: flex-end;
        padding: 10px 0px 0px 0;
        word-break: break-all;
        white-space: pre-wrap;
        // vertical-align: bottom;     
        #messages-end{
            margin-top: 20px;
            
        }
    }
    .auto-message{
        color: rgba(0,0,0,0.5) !important;
    }
    .chat-message{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        color: rgba(0,0,0,0.95);
        .user-icon:hover{
            cursor: pointer;
        }
            .user-icon{
                height: 100%;
                font-size: 32px;
                margin-right: 10px;
                color: black;
            }
        .top-row{
            .message-author{
                font-weight: bold;
            }
            .message-timestamp{
                font-size: 12px;
                color: grey;
                margin-left: 5px;
            }
        }
        .message-content{
            display: flex;
            flex-direction: column;
        }
        .message-content-secondary{
            padding-left: 40px;
            display: flex;

        }
        .hover-timestamp{
            text-align: right;
            margin-top: 3px;
            width: 45px;
            display: none;
        }
        .hover-timestamp-tooltip{
            display: none;
        }
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 30px;
    }
    .chat-message:hover{
        background-color: rgba(0,0,0,0.05);
        
        .message-content-secondary{
            justify-content: flex-start;
            align-items: center;
            padding-left: 0px;
            margin-left: -5px;
         }
        .hover-timestamp{
            user-select: none;
            color: grey;
            position: relative;
            right: 16px;
            top: 0px;
            font-size: 10px;
            display: inherit;
        }
        .hover-timestamp:hover{
            transition-duration: 1s;
            .hover-timestamp-tooltip{
                display: inherit;
                position: absolute;
                background-color: black;
                align-content: center;
                justify-content: center;
                align-items: center;
                background-color: black;
                border-radius: 5px;
                z-index: 1000;
                color: white;
                padding: 10px;
                box-shadow: 0 0 2rem rgba(0,0,0,.1);
                content: "::after";
                bottom: 30px;
                right: -15px;
                width: 60px;
            }
            .hover-timestamp-tooltip::after{
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -6px;
                border-width: 6px;
                border-style: solid;
                border-color: black transparent;
                border-right-color: transparent;
                border-left-color: transparent;
                border-bottom-color: transparent;
            }
        }
    }
    .message-form:focus-within{
        border: 1px solid rgba(0,0,0,0.6);
    }
    .message-form{
        border: 1px solid $border-color;
        display: flex;
        align-items: center;
        height: 45px;
        width: 90%;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 5px 20px 0px 20px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 5%;
        padding-bottom: 0px;
        align-self: center;
        .message-input:focus{
            border: none;
            outline: none;
        }
        .message-input{
            box-sizing: border-box;
            align-self: end;
            width: 100%;
            align-self: center;
            height: 37px;
            border-radius: 4px;
            font-size: 14px;
            box-shadow: none;
            // padding: 5px;
            border: none;
            resize: none;
            border-radius: 4px;
            padding-top: 10px;
            padding-bottom: 0px;
            margin: 0;
            // overflow: auto;
            max-height: 500px;
            margin-bottom: 5px;
            margin-top: 0px;
            background-color: transparent;
        }
    }
}
