@font-face {
  font-family: 'Larsseit';
  src:font-url('Larsseit.eot');
  src:font-url('Larsseit.eot?#iefix') format('embedded-opentype'),
    font-url('Larsseit.woff') format('woff'),
    font-url('Larsseit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit';
  src:font-url('Larsseit-Bold.eot');
  src:font-url('Larsseit-Bold.eot?#iefix') format('embedded-opentype'),
    font-url('Larsseit-Bold.woff') format('woff'),
    font-url('Larsseit-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit';
  src:font-url('Larsseit-Light.eot');
  src:font-url('Larsseit-Light.eot?#iefix') format('embedded-opentype'),
    font-url('Larsseit-Light.woff') format('woff'),
    font-url('Larsseit-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit';
  src:font-url('Larsseit-Medium.eot');
  src:font-url('Larsseit-Medium.eot?#iefix') format('embedded-opentype'),
    font-url('Larsseit-Medium.woff') format('woff'),
    font-url('Larsseit-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}